@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply overflow-x-hidden bg-[#f5f5f5] font-openSans leading-relaxed text-tertiary-main;
}

.container {
  @apply mx-auto w-full max-w-[1400px];
}

.icon-pattern-bg {
  background-image: url('/assets/images/construction-icons-bg.png');
  background-size: cover;
  background-position: center center;
}

/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Removes the outline color on focus that Flowbite adds by default */
[multiple]:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
select:focus,
textarea:focus {
  box-shadow: none !important;
}
